{% extends "base.html" %}
{% load static %}
{% block nav_main_home_content %}
    <!-- <ul class="navbar-nav mr-auto justify-content-end ">
        <form action="/register">
            <button class="btn home-button user-btn me-3" >
                <svg fill="none" viewBox="0 0 24 24" height="30" width="30" xmlns="http://www.w3.org/2000/svg">
                        <path xmlns="http://www.w3.org/2000/svg" d="M12 4C9.79086 4 8 5.79086 8 8C8 10.2091 9.79086 12 12 12C14.2091 12 16 10.2091 16 8C16 5.79086 14.2091 4 12 4ZM6 8C6 4.68629 8.68629 2 12 2C15.3137 2 18 4.68629 18 8C18 11.3137 15.3137 14 12 14C8.68629 14 6 11.3137 6 8ZM8 18C6.34315 18 5 19.3431 5 21C5 21.5523 4.55228 22 4 22C3.44772 22 3 21.5523 3 21C3 18.2386 5.23858 16 8 16H16C18.7614 16 21 18.2386 21 21C21 21.5523 20.5523 22 20 22C19.4477 22 19 21.5523 19 21C19 19.3431 17.6569 18 16 18H8Z" fill="#0D0D0D"></path>
                </svg>
            </button>
        </form>        
    </ul> -->
{% endblock nav_main_home_content%}


{% block content %}
<style>
    h1, h2, h3, h4 {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-weight: 600;
    }
    h3 {
        font-weight: 500;
    }
    h5 {
        text-align: start;
    }
    .descriptions {
        width:20em;
    }
    .key-word {
        color: #2a9d8f;
    }
    .home-button {
        background-color: #2a9d8f;
    }
    .illustration {
        width: 400px;
        text-align: center;

    }
    #login-button, #sign-up-button {
        width: 80px;
        text-align: center;
        /* background-color: #e76f51; */
        color: #2a9d8f;
        text-transform: capitalize;
        border-radius: 8px;
        background-color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }
    #login-button:hover,#sign-up-button:hover {
        background-color:#5d3ed6;
    }
    #forgot {
        text-decoration: none;
        color: #2a9d8f;
    }
    .separator-vertical {
        border-left: 1px solid black;
        height: 250px;
        margin-left: 40px;
        margin-right:40px;
    }
    
    #register-button {
        background-color: white;
    }
    .home-button:hover, #register-button:hover {
        background-color: gold;
        color: black;
    }
    @media screen and (max-width:880px) {
        .illustration {
        width: 350px;
        }
    }
    @media screen and (max-width:850px) {
        .illustration {
        width: 270px;
        }
    }
    @media screen and (max-width:600px) {
        .illustration {
            width: 190px;
            margin-left: 80px;
        }
    }
    hr {
        color: black;
        width:470px;
    }
    .form-control {
        border-radius: 30px;
    }
    
</style>
    
<div class="d-flex justify-content-center container-fluid mt-4">
    <div class="row d-flex">
        <div>
            <h1>Let's make financing <span class="key-word">easier</span> than ever.</h1>
            <h2><span class="key-word" >$</span>1 at a time. </h2>
        </div>
        
    </div>
    
</div>
    <!-- <div class="form-exterior mt-3 mt-lg-5 col-md-5 ">
        <div class="d-block m-3 p-1">
            <form method="POST" action="">{% csrf_token %}
                {% if error %}
                    <p style="color:red">{{ error }}</p>
                {% endif %}
                <div class="row g-3 mb-md-3 mb-4 mt-2">
                    <div class="form-group col-12 ">
                        <input type="text" name="username" class="form-control text-center" id="username" placeholder="Email/Username">
                    </div>
                </div>

                <div class="form-group  mb-md-3 mb-4">
                        <input type="password" name="password" class="form-control text-center" id="password" placeholder="Password">
                </div>
                
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit" href="">Sign In</button>
                </div>
                <div class="d-inline-block mb-3 mt-2">
                    <a class=" forgot">Forgot password?</a>

                </div>
                
            </form>
            
        </div>
    </div> -->
<div class="container-fluid mt-4 mt-sm-5 mb-5">
    <div class="d-flex justify-content-center flex-column flex-sm-row align-items-center">
        <div class="text-center mb-sm-4">
            <div >
                <h3 class="mb-4 d-none d-sm-inline-block">Begin your journey today!</h3>
            </div >
            <form action="/register">
                <button class="btn btn-outline-success" id="register-button" href="/register">Create an Account</button>

            </form>
        </div>
        <div class="separator-vertical d-none d-sm-inline-block "  >
        </div>
        <hr class="d-sm-none ">


        <!-- <div class="descriptions me-5"> -->
            
            <!-- <h5>Sign In</h5> -->
    {% include 'registration/login.html' %}
            
            <!-- <form action="" method="POST">{% csrf_token %}
                <div class="row g-3 mb-md-3 mb-4">
                    <div class=" col-12 ">
                        <input type="email" name="email" class="form-control text-start" id="email" placeholder="Email Address">
                    </div>
                    <div class=" col-12 ">
                        <input type="password" name="password" class="form-control text-start" id="password" placeholder="Password">
                    </div>
                    {% if error %}
                        <p style="color:#ef233c" class="w-100">Error: {{ error }}</p>
                    {% endif %}

                    <a href="/forgot" id="forgot" class="mt-0">Forgot password <span class="ms-2">></span></a>
                    <div>
                        <button class="btn home-button">Submit</button>
                    </div>
                </div>
            </form> -->
        <!-- </div> -->
    </div>

    <div>
        <div class="d-flex justify-content-center justify-content-sm-center">
            <div class="row justify-content-center">
                <div class="mt-5 descriptions col-8 col-sm-6">
                    <h3>A highly interactive experience where <span class="key-word">you</span> have <span class="key-word">100%</span> control over your budget</h3>
                </div>
            
                <div class="col-8 col-sm-6  ms-sm-0">
                    <img  class="illustration" src="/static/illustration_reminder.png" alt="">
                </div>
            </div>
            
        </div>
        
        <div class="d-flex justify-content-center justify-content-sm-center">
            <div class="row justify-content-center">
                <div class="mt-5 descriptions col-8 col-sm-6">
                    <h3>You have the ability to <span class="key-word">visualize</span> your ideal spending and savings</h3>
                </div>
            
                <div class="col-8 col-sm-6  ms-sm-0">
                    <img  class="illustration" src="/static/illustration_projections.png" alt="">
                </div>
            </div>
            
        </div>
        
        <div class="d-flex justify-content-center justify-content-sm-center">
            <div class="row justify-content-center">
                <div class="mt-5 descriptions col-8 col-sm-6">
                    <h3>Monitor and organize <span class="key-word">current</span> & <span class="key-word">upcoming</span> bills, so you never miss a payment!</h3>
                </div>
            
                <div class="col-8 col-sm-6  ms-sm-0">
                    <img  class="illustration" src="/static/illustration_predict.png" alt="">
                </div>
            </div>
            
        </div>
    </div>

    
</div>



{% endblock content %}